<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>comprobante</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
    <div class="container-fluid">
	    <div class="col-lg-4">
        </div> 
        <div class="col-lg-4">
            <h1>Lista de Comprobantes</h1>
            <table class="table">
              <thead class="modal-body">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">N </th>
                  <th scope="col">Estado </th>
                  <th scope="col"> </th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="comprobanteBeans: ${comprobanteBean}">
                  <th scope="row" th:text="${comprobanteBeans.ID}"></th>
                  <td th:text="${comprobanteBeans.numeroComprobante}"></td>
                  <td th:text="${comprobanteBeans.estado}"></td>
                  <td>
                   <button type="button" th:onclick="|window.location.href='/actualizarComprobante/${comprobanteBeans.ID}'|" class="btn boton-registrar btn-primary"> Generar </button>
                      <button type="button" th:onclick="|window.location.href='/comprobante/${comprobanteBeans.ID}'|" class="btn boton-registrar btn-success">
                          <span class="glyphicon glyphicon-eye-open"></span>
                      </button>
                  </td>
                </tr>
              </tbody>
            </table>
        </div>    
        <div class="col-lg-4"></div>                    
    </div> 
       
</body>
</html>